In [1]:
life = ['love','wisdom','anxiety']

In [2]:
life

['love', 'wisdom', 'anxiety']

In [3]:
for item in life:
    print(item)

love
wisdom
anxiety

In [4]:
arity = [1,2,3]

In [5]:
print(arity)

[1, 2, 3]

In [6]:
person = ['firstname',21]

In [7]:
person[0]

'firstname'

In [8]:
pizza = ('base','sauce','cheese','mushroom')

In [10]:
pizza

('base', 'sauce', 'cheese', 'mushroom')

In [12]:
pizza[2]

'cheese'

In [13]:
pizza[1]

'sauce'

In [17]:
pizza[1]

'sauce'

# python syntax-take your first step in the python programming

In [18]:
print("enter your name : ")
name = input()

enter your name :
25

In [19]:
print("enter your age : ")
age = int(input())

enter your age :
25

In [20]:
if age >= 18:
    print(name,"is eligible to vote")
else:
    print(name,"is not eligible to vote")

25 is eligible to vote

# types of syntax structures in python
1. line structure
2. docstring
3. quotations
4. variables
5. comments
6. indentation
7. identifiers
8. string formatters

# 1 line structure

In [21]:
print("hi
      how are you?")

SyntaxError: EOL while scanning string literal (Temp/ipykernel_8892/106677869.py, line 1)

# 2 python multiline statements

In [22]:
print("hi\
how are you ?")

hihow are you ?

In [23]:
a\
=\
10
print(a)

10

In [24]:
# put the string in triple quotes
print("""hi
how are you?""")

hi
how are you?

In [25]:
"""\b
=\
10"""

'\x08\n=10'

In [26]:
print(b)

NameError: name 'b' is not defined

# python comments

In [27]:
# this is a comment
# this is a second comment

In [28]:
def func():
    """
    this function prints out a greeting
    """
    print("hi")

In [29]:
func()

hi

# python indentation

In [30]:
if 2 > 1:
    print("2 is the bigger person:")
    print("but 1 is worthy too.")

2 is the bigger person:
but 1 is worthy too.

In [33]:
if 2 > 1:
    print("2 is the bigger person")
 print("but i is worthy too.")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

# python multiple statement is one line

In [35]:
a = 7 ; print(a)

7

# python quotation

In [36]:
print("we need a chaperone")

we need a chaperone

In [37]:
print('this is my word')

this is my word

In [38]:
print("this is my 'word'")

this is my 'word'

In [39]:
print("we need a "chaperone"")

SyntaxError: invalid syntax (Temp/ipykernel_8892/1606750108.py, line 1)

# python blank lines

In [40]:
# python interpreter will ignore it

# python identifiers
1. and def false import not True
2. as del finally in or try
3. assert elif for is pass while
4. break else from lambda print with
5. class except global None raise yield
6. continue exec if nonlocal return

# 10 python variable

In [41]:
x = 10
print(x)

10

In [42]:
x = 'hello'
print(x)

hello

In [43]:
x = 10; printer = "hp"
print("i just printed %s page to the printer %s" % (x, printer))

i just printed 10 page to the printer hp

In [44]:
name = "renukadevi" ; age = 10000000

In [46]:
print("my name is %s and age is %s" % (name,age))

my name is renukadevi and age is 10000000

# python string formatters
1. % operator
2. format method
3. f-string

In [47]:
name = "malingray prasanna" ; age = 2500000

In [48]:
print("my name is %s and i am %s year old." % (name, age))

my name is malingray prasanna and i am 2500000 year old.

In [49]:
x = 10 ; printer = 'HP'

In [50]:
print("i just printed %s page to the printer %s" % (x, printer))

i just printed 10 page to the printer HP

In [51]:
# format method
print("i just printed {0} pages to the printer {1}".format(x,printer))

i just printed 10 pages to the printer HP

In [52]:
print("i just printed{x} pages to the printer {printer}".format(x = 7, printer = "HP"))

i just printed7 pages to the printer HP

In [53]:
print("i just printed {0} pages to the printer {1}".format(x,printer))

i just printed 10 pages to the printer HP

In [54]:
print(f"i just printed {x} pages to the printer {printer}")

i just printed 10 pages to the printer HP

# python comment | python indentation | python
1. multiline statement
2. multiple statement in one ine
3. string statement
4. blank python statement

In [57]:
# python comment,python indentation, python statement
#1. multiline statement
a*=3

In [58]:
a

21

In [3]:
a = 3

In [4]:
a*=3

In [5]:
a

9

In [6]:
a = a*5

In [7]:
a

45

In [8]:
a*=2

In [9]:
a

90

In [10]:
a*=5

In [11]:
a

450

In [12]:
a=\
10\
+20

In [13]:
a

30

In [14]:
"hello\
hi"

'hellohi'

In [15]:
a = (
10+
20)

In [16]:
a

30

In [17]:
type(a)

int

# multiline statement

In [1]:
# u can put multiple statement in pyton on one line
a = 7 ; print(a)

7

In [4]:
if a < 8:
    print(a)

7

In [5]:
# string python statement
"hello 'user'"

"hello 'user'"

In [6]:
# blanck lines python statements
if 2 < 1 :
    print("2")

In [7]:
if 2 > 1:
    print("2")

2

In [8]:
if 2 > 1:
    print("1")
    print("2")

1
2

# python comment
1. multiline comment
2. docstring comment

In [9]:
# this is a comment
# line 1 of comment
# line 2 of comment
# line 3 of comment
# line 4 of comment

In [10]:
"""this comment is spanned across multiple lines"""

'this comment is spanned across multiple lines'

In [11]:
print("i am bright person..")

i am bright person..

In [12]:
print("hello word ")

hello word

In [13]:
print("""hi 
this is my word..""")

hi
this is my word..

In [14]:
print("""my name is manjunath kannur
i am software developer and i am start-company""")

my name is manjunath kannur
i am software developer and i am start-company

# dostring python comment

In [15]:
def sayhi():
    """
    this function prints hi
    """
    print("hi hello")
sayhi()

hi hello

In [16]:
sayhi.__doc__

'\n    this function prints hi\n    '

In [17]:
def sayhi():
    print("hi")
    """
    this function prints hi"""
sayhi()

hi

In [21]:
sayhi().__doc__

hi

In [19]:
def show():
    print("hi")
    """this is my word"""
show()

hi

In [22]:
show.__doc__

# python variables and data types

In [23]:
x = 45
type(x)

int

In [24]:
name = "renukadevi prasanna"

In [25]:
print(type(name))

<class 'str'>

In [26]:
nums = [1,8.5,9]

In [27]:
print(type(nums))

<class 'list'>

# python variables naming rules

In [28]:
9lives = 9

SyntaxError: invalid syntax (Temp/ipykernel_11076/2232563625.py, line 1)

In [29]:
flag = 0

In [30]:
print(flag)

0

In [31]:
_9lives = "cat"

In [32]:
print(_9lives)

cat

In [33]:
year2 = "kannur"

In [34]:
year2

'kannur'

In [35]:
_$$ = 44

SyntaxError: invalid syntax (Temp/ipykernel_11076/3052307896.py, line 1)

In [36]:
name = "renukadevi prasanna"

In [37]:
print(name)

renukadevi prasanna

In [38]:
print(type(name))

<class 'str'>

# Assigning & Reassigning python variable

In [39]:
a = 7
print(a)

7

In [40]:
print(type(a))

<class 'int'>

In [41]:
age = 'Dinosaur'
print(type(age))

<class 'str'>

In [42]:
7 = age

SyntaxError: cannot assign to literal (Temp/ipykernel_11076/225704299.py, line 1)

In [43]:
False = choice

SyntaxError: cannot assign to False (Temp/ipykernel_11076/1040488864.py, line 1)

In [44]:
# multline Assignment
age , city = 21 , 'indore'
print(age,city)

21 indore

In [45]:
age = fav = 7

In [46]:
print(age)
print(fav)

7
7

# swapping variables

In [47]:
a, b = 'red','blue'
a,b = b,a
print(a,b)

blue red

In [48]:
# deleting variables
a = 'red'
del a
a

NameError: name 'a' is not defined

In [49]:
name = 'manjunath'

In [50]:
del name

In [51]:
name

NameError: name 'name' is not defined

# python variables and data type
1. introduction to variables
2. data types
3. type conversion
4. local and global variable

# python data types
# python numbers

In [52]:
a = -7
print(type(a))

<class 'int'>

In [53]:
a = 99999999999999999999999999999999999999999999999999999
print(type(a))

<class 'int'>

In [54]:
# float
a = 3.0
print(type(a))

<class 'float'>

In [55]:
# complex numbers
a = 2+3j
print(a)

(2+3j)

In [56]:
print(type(a))

<class 'complex'>

In [57]:
print(isinstance(a,complex))

True

# strings

In [58]:
city = 'muddebihal'
print(type(city))

<class 'str'>

In [59]:
print(city)

muddebihal

In [60]:
print("""if
only""")

if
only

In [62]:
var = "this is my word"

In [63]:
print(var)

this is my word

# displaying part of string

In [64]:
lesson = "i am happy.."

In [65]:
lesson

'i am happy..'

In [66]:
lesson[0]

'i'

In [67]:
lesson[1]

' '

In [68]:
lesson[3]

'm'

In [69]:
lesson[5:10]

'happy'

In [70]:
for item in lesson:
    print(item)

i

a
m

h
a
p
p
y
.
.

# string formatters

In [71]:
x = 10
printer = 'dell'
print("i just prented %s pages to the printer %s" %(x, printer))

i just prented 10 pages to the printer dell

In [72]:
print("i just printed {0} pages to the printer {1}".format(x,printer))

i just printed 10 pages to the printer dell

In [73]:
name = "renukadevi prasanna"
age = 20000

In [78]:
print(f"my name is {name} and age is {age}" .format(name,age))

my name is renukadevi prasanna and age is 20000

In [80]:
print("i just printed {0} and to the {1}".format(name,age))

i just printed renukadevi prasanna and to the 20000

In [81]:
a = '10'
print(a+a)

1010

In [82]:
print('10'+10)

TypeError: can only concatenate str (not "int") to str

In [83]:
days = ['Monday','tuesday',3,4,5,6,7]

In [84]:
days

['Monday', 'tuesday', 3, 4, 5, 6, 7]

In [85]:
days[1:3]

['tuesday', 3]

In [88]:
mylist = []
for item in days:
    mylist.append(item)
print(mylist)

['Monday', 'tuesday', 3, 4, 5, 6, 7]

In [91]:
len(days)

7

In [92]:
days[2] = 'Wednesday'

In [93]:
days

['Monday', 'tuesday', 'Wednesday', 4, 5, 6, 7]