# python_fucntion

In [1]:
# # def function_name(parameters):
#     """docstring"""
#     statement(s)
#     return expression
def fun():
    print("wellcome to yarazari!......")

In [2]:
fun()

wellcome to yarazari!......

In [3]:
# simple python function
def fun():
    print("well come to muddebihal!....")
fun()

well come to muddebihal!....

# arguments of function

In [6]:
def evenodd(x):
    if (x%2 == 0):
        print("even")
    else:
        print("odd")

In [7]:
evenodd(5)

odd

In [8]:
def evenodd(x):
    if (x%2 == 0):
        print("even...")
    else:
        print("odd...")

In [9]:
evenodd(5)

odd...

In [10]:
evenodd(2)

even...

In [11]:
evenodd(6)

even...

In [12]:
evenodd(8)

even...

In [13]:
evenodd(3)

odd...

In [14]:
evenodd(0)

even...

In [15]:
evenodd(11)

odd...

# types of arguments
1. default arguments

In [16]:
def myfun(x, y = 50):
    print("x :",x)
    print("y: ",y)

In [17]:
myfun(10)

x : 10
y:  50

In [18]:
myfun(10,20)

x : 10
y:  20

In [19]:
myfun(6,5)

x : 6
y:  5

In [20]:
def student(firstname,lastname):
    return firstname,lastname

In [21]:
student('manjunath','kannur')

('manjunath', 'kannur')

In [23]:
student('renukadevi','yallamma')

('renukadevi', 'yallamma')

In [26]:
def student1(firstname,lastname):
    print(firstname,lastname)

In [27]:
student1('runukadevi','yallammma')

runukadevi yallammma

In [28]:
def show(fist):
    return fist

In [29]:
show('kannur')

'kannur'

In [30]:
def showme(last,fist):
    return last,fist

In [31]:
showme('kick','showme')

('kick', 'showme')

In [1]:
def myfun(*args):
    for arg in args:
        print(arg)

In [2]:
myfun('hello','welcome','to','yarazari')

hello
welcome
to
yarazari

In [3]:
def myfun(**kwargs):
    for key,value in kwargs.items():
        print("%s == %s" %(key,value))

In [4]:
myfun(first = 'renukadevi',last = 'yallamma')

first == renukadevi
last == yallamma

# docstring

In [5]:
def docstring():
    """the first value is doc string"""
    print("firs doc")

In [7]:
docstring.__doc__

'the first value is doc string'

In [8]:
def evenodd(x):
    if (x%2 == 0):
        print("even")
    else:
        print("odd")

In [9]:
evenodd(5)

odd

In [12]:
def evenodd(x):
    "the fucntion checks if the number is even or odd.."
    if (x%2 == 0):
        return 'even'
    else:
        return 'odd'

In [13]:
evenodd(6)

'even'

In [14]:
evenodd.__doc__

'the fucntion checks if the number is even or odd..'

# the return statement

In [15]:
# # syntax :
# return [expression]
def squre(num):
    return num**2

In [16]:
squre(2)

4

In [17]:
print(squre(-5))

25

In [18]:
def cube(num):
    print(num**3)

In [19]:
cube(3)

27

In [11]:
def myfun(x):
    x[0] = 20

In [12]:
lst = [10,11,12,13,14,15,16,20]
myfun(lst)

In [13]:
lst

[20, 11, 12, 13, 14, 15, 16, 20]

In [14]:
def append(x):
    for i in x:
        x.append(i)

In [15]:
print("nothing..")

nothing..

In [16]:
lst

[20, 11, 12, 13, 14, 15, 16, 20]

In [ ]:
append(lst)

In [1]:
def myfun(x):
    x = [20,30,40]

In [2]:
lst = [10,20,30,40,50,60,70,80,90]

In [3]:
myfun(lst)

In [4]:
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [5]:
mylist = [1,2,3,4,5]

In [6]:
myfun(mylist)

In [7]:
mylist

[1, 2, 3, 4, 5]

In [8]:
print(myfun(mylist))

None

In [9]:
def add(x):
    x = [1,2,3,4,5]

In [10]:
del lst

In [11]:
lst = [6,7,8,9,10]

In [12]:
add(lst)

In [13]:
lst

[6, 7, 8, 9, 10]

In [17]:
def myfun(x):
    x = 20

In [18]:
x = 10

In [19]:
myfun(x)

In [20]:
def swap(x,y):
    temp = x
    x = y
    y = temp

In [21]:
x = 2
y = 3

In [22]:
swap(x,y)

In [23]:
print(x,y)

2 3

# anonymous function

In [24]:
def cube(x):
    return x*x*x

In [25]:
cube(3)

27

In [26]:
cube = lambda x : x**3

In [28]:
cube(3)

27

# python function within function

In [29]:
def f1():
    s = "i love yarazari"
    def f2():
        print(s)
    f2()
f1()

i love yarazari

In [30]:
def show():
    name = "manjunath kannur"
    def kick():
        print(name)
    kick()
show()

manjunath kannur

In [31]:
list1 = [3,4,5,20,5,25,1,3]

In [32]:
list1.pop(1)

4

In [33]:
list1

[3, 5, 20, 5, 25, 1, 3]

# python_function

# while loop

In [1]:
# while expression:
#     statement(s)
count = 0
while count < 3:
    count = count+1
    print("hello word...")

hello word...
hello word...
hello word...

In [2]:
# if condition:
#     excutes these statement
# else:
#     excutes these statement
# while condition:
#     executes these statement
# else:
#     excutes these statement
number = 0
while number < 3:
    number+=1
    print("renukadevi")
else:
    print("in else block..")

renukadevi
renukadevi
renukadevi
in else block..

In [3]:
i = 0
while i < 0:
    i+=1
    print("print i...")
else:
    print("nothing is to be printed...")

nothing is to be printed...

In [4]:
count = 0
while (count == 0):
    count+=1
    print("hello word...")

hello word...

In [5]:
# #syntax 
# for iterator_var in sequence:
#     statement(s)
n = 4
for i in range(0,n):
    print(i)

0
1
2
3

In [6]:
print("list Iteration...")
l = ['geeks','for','geeks']
for i in l:
    print(i)

list Iteration...
geeks
for
geeks

In [7]:
print("\ntuple Iteration..")
t = ('geeks','for','geeks')
for i in t:
    print(i)

tuple Iteration..
geeks
for
geeks

In [8]:
print("\n dictionary iteration..")
d = dict()
d['xyz'] = 123
d['abc'] = 345

 dictionary iteration..

In [9]:
for i in d:
    print("%s %d"%(i,d[i]))

xyz 123
abc 345

In [10]:
list1 = ['geeks','for','geeks']
for index in range(len(list1)):
    print(list1[index])

geeks
for
geeks

In [11]:
# using else statement with loops 
list1 = ['geeks','for','geeks']
for index in range(len(list1)):
    print(list1[index])
else:
    print("inside else block...")

geeks
for
geeks
inside else block...

In [12]:
# for iterator_var in sequence:
#     for iterator_var in sequenc:
#         statement(s)
#         statement(s)

In [13]:
# while expression:
#     while expression:
#         statement(s)
#         statement(s)

In [15]:
for i in (0,3):
    for j in range(i):
        print("inner loop",j)
    print("outer loop",i)

outer loop 0
inner loop 0
inner loop 1
inner loop 2
outer loop 3

# loop control statement
1. continue statement
2. break statement
3. pass

In [16]:
for i in range(0,3):
    print(i)

0
1
2

In [19]:
for i in range(0,10):
    if i < 6:
        print(i)

0
1
2
3
4
5

In [20]:
for i in range(0,10):
    if i > 8 :
        print(i)

9

In [21]:
for i in range(0,10):
    if i > 5 :
        print(i)

6
7
8
9

In [22]:
for i in range(0,10):
    if i <= 6:
        print(i)

0
1
2
3
4
5
6

In [25]:
for i in "renukadevi":
    if i == 'k' or i == 'u':
        continue
    print(i)

r
e
n
a
d
e
v
i

In [26]:
for i in 'geeksforgeeks':
    if i == 'e' or i == 's':
        continue
    print("current letter" ,i)

current letter g
current letter k
current letter f
current letter o
current letter r
current letter g
current letter k

In [27]:
for i in 'kannur':
    if i == 'kannur':
        print(i)
    else:
        print("nothing")

nothing
nothing
nothing
nothing
nothing
nothing

In [28]:
string = "kannur"

In [29]:
string

'kannur'

In [30]:
for i in string:
    print(i)

k
a
n
n
u
r

In [31]:
for i in sorted(string):
    print(i)

a
k
n
n
r
u

In [32]:
for i in range(0,10):
    if i == 5 and i == 8:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
for item in range(0,10):
    if item > 5 :
        break
    print(item)

0
1
2
3
4
5

In [37]:
for item in range(0,10):
    if item > 5:
        continue
    print(item)

0
1
2
3
4
5

In [38]:
for item in range(0,10):
    if item > 5:
        pass
    print(item)

0
1
2
3
4
5
6
7
8
9

In [39]:
for letter in 'geeksforgeeks':
    pass
print("last letter",letter)

last letter s

In [40]:
# a simple for loop example
fruits = ['apple','orange','kiwi']

In [41]:
for fruit in fruits:
    print(fruit)

apple
orange
kiwi

In [42]:
for item in range(0,4):
    print(item)

0
1
2
3

In [43]:
for item in range(0,4):
    for june in range(item):
        print("inner loop",june)
    print("outer loop",item)

outer loop 0
inner loop 0
outer loop 1
inner loop 0
inner loop 1
outer loop 2
inner loop 0
inner loop 1
inner loop 2
outer loop 3

In [45]:
for i in range(0,3):
    for j in range(i):
        print("inner loop",j)
    print("outer loop",i)

outer loop 0
inner loop 0
outer loop 1
inner loop 0
inner loop 1
outer loop 2

In [46]:
fruits = ['apple','orange','kiwi']

In [47]:
iter_obj = iter(fruits)

In [48]:
iter_obj

In [49]:
for  item in iter_obj:
    print(item)

apple
orange
kiwi

In [50]:
for it in iter_obj:
    print(next(it))

# loops and control statments (continue , break and pass) in python

# while loop

In [51]:
# while expression:
#     statement(s)

In [60]:
count = 0

In [57]:
while (count < 3):
    count+=1
    print("counted")

counted
counted
counted

In [61]:
while count < 3:
    #print(count)
    count+=1
    print(count)

1
2
3

In [58]:
del count

# for in loop

In [62]:
# for itertor_var in sequence:
#     statement(s)
print("list Iteration:")
l = ['geeks','for','geeks']
for i in l:
    print(i)

list Iteration:
geeks
for
geeks

In [63]:
print("\n tuple iteration:")
t = ('geeks','for','geeks')
for item in t:
    print(item)

 tuple iteration:
geeks
for
geeks

In [64]:
# for itertor_var in sequence:
#     for iterator_var in sequence:
#         statement(s)
#         statement(s)
for key , value in enumerate(['the','big','bang','theory']):
    print(key)

0
1
2
3

In [65]:
for key, value in enumerate(['the','kit','cat','money']):
    print(key,value)

0 the
1 kit
2 cat
3 money

In [66]:
for item in enumerate("renukadevi"):
    print(item)

(0, 'r')
(1, 'e')
(2, 'n')
(3, 'u')
(4, 'k')
(5, 'a')
(6, 'd')
(7, 'e')
(8, 'v')
(9, 'i')

In [67]:
for kick in enumerate("the starck"):
    print(kick)

(0, 't')
(1, 'h')
(2, 'e')
(3, ' ')
(4, 's')
(5, 't')
(6, 'a')
(7, 'r')
(8, 'c')
(9, 'k')